form {
  margin-top: 70px;
}
.d-flex {
  display: flex;
}
.hide-on-med-and-down {
  display: block !important;
}

.align-items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-between {
  justify-content: space-between;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Header styles */
.header .brand-logo {
  position: static;
}

.header .currency-select input.select-dropdown {
  margin: 0;
  color: #fff;
  border-bottom: none;
}

.header .currency-select input.select-dropdown:focus {
  border-bottom: none;
}

.header .currency-select {
  width: 120px;
}

.header .currency-select .caret {
  fill: #fff;
}

.header .brand-logo {
  font-size: 1.5rem;
}

.ticket-card {
  padding: 10px 15px;
}

.ticket-airline-name {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.ticket-airline-img {
  max-width: 100px;
  margin-right: 20px;
}

.ticket-destination {
  margin-bottom: 10px;
  border-bottom: 1px dashed gray;
}

.ticket-destination .ticket-city {
  font-size: 26px;
  text-transform: uppercase;
}

.ticket-destination i.material-icons {
  font-size: 26px;
}

.ticket-time-departure {
  font-weight: bold;
  color: gray;
}

.ticket-price {
  font-size: 25px;
  padding: 5px;
  background: #6a1b9a;
  color: #fff;
}

.ticket-additional-info {
  font-size: 14px;
  font-weight: bold;
}

.tickets-empty-res-msg {
  padding: 10px 15px;
  text-align: center;
  background: whitesmoke;
  font-weight: bold;
  font-size: 18px;
}
#dropdown1 {
  opacity: 1;
  display: none;
  margin-top: 65px;
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
}
.favorite-item {
  align-items: center;
  justify-content: space-around;
  color: #000;
  flex-direction: column;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}
.favorite-item img {
  width: 140px;
}
.favorite-item-info {
  align-items: center;
  width: 100%;
  justify-content: center;
}
.favorite-item-info > * {
  margin-left: 20px;
  margin-right: 20px;
}
.ticket-time-departure {
  margin-right: 20px;
}
.ticket-flight-number {
  color: red;
  padding-right: 25px;
}
.dropdown-trigger {
  margin-left: 20px;
}
.add-to-fav {
  padding: 10px 20px;
  background-color: green;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.add-to-fav {
  transition: 0.4s;
}
.add-to-fav:hover {
  background-color: #6a1b9a;
}
nav {
  position: fixed;
  z-index: 5;
}

#filter-prices {
  margin: 0 auto;
  display: block;
}
#filter-avia-companies {
  display: block;
}
#filter-aviacompany-container {
  display: flex;
  flex-wrap: wrap;
}
.avia-checkbox {
  opacity: 1 !important;
  position: relative !important;
  margin-right: 5px;
  pointer-events: auto !important;
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 20%;
}
.checkbox-wrapper label img {
  width: 60px;
}
.checkbox-wrapper label {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  text-align: center;
}
